<!DOCTYPE html>
    <html>
      <head>
        <title>Home</title>
        <link rel="stylesheet" href="../resources/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      </head>
      <body>
        <!--This is the section for the navbar. Make sure to include on all html pages.-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="index.html">
            <img class="rounded-circle" src="../resources/images/favicon.ico" alt="" width="30" height="30">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="Lost_and_Found.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Lost & Found
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="Lost_and_Found.html">Search for Item</a>
                  <a class="dropdown-item" href="Lost_and_Found.html">Post Found Item</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="Lost_and_Found.html">Lost & Found Page</a>
                </div>
              </li>
            </ul>
          <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Login</button>
          </div>
          </div>
        </nav>
        <!--End Navbar section-->


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Header of page -->
        <style>
          .top-description 
          {
          padding: 50px;
          text-align: center;
          background-color: #a58d4f;
          color: whitesmoke;
          }

        </style>
        <div class = "top-description">
          <h1> About Us </h1>
          <p> **Basic description of how we are sutdents making a web app, lost and found functionality etc** </p>
        </div>
        <br>
        <!-- End Header -->

        <h1 style="text-align:center">Our Goals</h1>

        <br>

        <div class="card-deck">
          <div class="card" style="width: 18rem;" id="goal1">
            <img class="card-img-top" src="https://via.placeholder.com/500">
            <h2 >Goal Title 1</h2>
            <br>
            <p>Text that describes the goal. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>

          <div class="card" style="width: 18rem;" id="goal2">
              <img class="card-img-top" src="https://via.placeholder.com/500">
              <h2 >Goal Title 2</h2>
              <br>
              <p>Text that describes the goal. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>

          <div class="card" style="width: 18rem;" id="goal3">
              <img class="card-img-top" src="https://via.placeholder.com/500">
              <h2 >Goal Title 3</h2>
              <br>
              <p>Text that describes the goal. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
      </div>




        





      </body>
    </html>