<!DOCTYPE html>
    <html>
      <head>
        <title>Home</title>
        <link rel="stylesheet" href="../resources/css/main.css">
        <link rel="stylesheet" href="../resources/css/lost_found.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      </head>
      <body>
        <!--This is the section for the navbar. Make sure to include on all html pages.-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
          <a class="navbar-brand" href="index.html">
            <img class="rounded-circle" src="../resources/images/favicon.ico" alt="" width="30" height="30">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="Lost_and_Found.html">Lost & Found</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
            </ul>
          <div class="form-inline my-2 my-lg-0" style="margin-right:8px;">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" style="">Login</button>
          </div>
          <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Account</button>
          </div>
          </div>
        </nav>
        <!--End Navbar section-->

      <div class="body_content">
        <div class="jumbotron">
          <h1 class="display-4"><center>CU Boulder's<br>Lost & Found Page</h1></center>
          <p class="lead" style="text-align:center">Have you lost or found an item laying around campus recently?<br>If so, please continue below to post a new listing or search for a lost item.
          </p>
          <hr class="my-4">
          <div class="lost float-left">
            <p><center>Start here if you would like to begin<br>a search for a lost item.</center></p>
            <p class="lead"><center>
              <a class="btn btn-primary btn-lg" href="#searchBox" role="button" style="background-color:#BC8E48; border-color:#BC8E48;">Search Lost Items</a>
            </center></p>
          </div>
          <div class="found float-right">
            <p><center>Start here if you would like to post a<br>listing for a found item.</center></p>
            <p class="lead"><center>
              <a class="btn btn-primary btn-lg" href="#" role="button" style="background-color:#BC8E48; border-color:#BC8E48;" data-toggle="modal" data-target="#found_items_popout" onclick="resetModal(); openModal();">Post Found Items</a>
            </center></p>
          </div>
        </div>

        <div class="container-fluid">
          <div class="input-group mb-3">
            <input type="text" id="searchBox" class="form-control" placeholder="Search item by keyword" aria-label="Search Item" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
          </div>
          <div class="card-columns" id="cardPlaceholder" style="column-count: 1;">
            <!-- maybe have just 1 column of wide cards with each card split (left title and pic and right side rest?)
            will be hard to input my 3s -->


          </div>
            <p style="padding-top:2em;">Disclaimer: All items retrieved by students are kept on record. If you have lost an item and feel that it has been wrongfully claimed,
            please follow the appeal process <a href="#">here</a>.
          </p>
          </div>

        </div>
        </div>
        <div class="footer">
          <a style="color:white;" href="https://www.colorado.edu/">University of Colorado Boulder</a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="found_items_popout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Post Lost Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <form id="modalForm">
                          <div class="modal-body">
                            <p style="font-size:13px; color:red">*Required field</p>
                            <div class="form-group">
                              <h6>Item Name</h6> <h6 style="color:red">*</h6>
                              <input type="text" id="itemName" class="form-control" name="itemName">
                            </div>
                            <br>
                            <div class="form-group">
                              <h6>Item Description</h6> <h6 style="color:red">*</h6>
                              <p style="font-size:13px;"><i>Include the brand, color, and any identifying markings</i></p>
                              <textarea id= "itemDescription" form="modalForm" name="itemDescription" rows="3" cols="55"></textarea>
                            </div>
                            <br>
                            <div class="form-group">
                              <h6>Date Found</h6> <h6 style="color:red">*</h6>
                              <input type="text" id="dateFound" class="form-control" name="dateFound" >
                            </div>
                            <br>
                            <div class="form-group">
                              <h6>Location Found</h6> <h6 style="color:red">*</h6>
                              <input id="locationFound" type="text" class="form-control" name="locationFound" >
                            </div>
                            <br>
                            <div class="form-group">
                              <h6>Location Returned</h6>
                              <input id="locationReturned" type="text" class="form-control" name="locationReturned">
                            </div>
                            <div class="form-group">
                            <br>
                            <h6>Upload photo(s):</h6>
                            <p style="font-size:13px;"><i>To select multiple files, hold down the CTRL or SHIFT key while selecting</i></p>
                              <form action="/action_page.php"> <!-- https://www.w3schools.com/howto/howto_html_file_upload_button.asp -->
                                  <input type="file" id="imageFile" name="filename" multiple>
                              </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" id="post_item_button" class="btn btn-primary" onclick="addCard()">Post Item</button>
                </form>

              </div>
            </div>
          </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script type="text/javascript" src="../addItemCard.js"></script>
      </body>
    </html>
